  @model ProjectAssigned.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    @Html.ValidationSummary(true,"", new { @class = "text-danger" })
    
<div class="row">
    <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
        <div class="card mb-0">
            <div class="card-header">
                <h3 class="card-title">Forgot password</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "form-label text-dark" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m=>m.Email,"", new { @class = "text-danger"})
               </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
                <div class="text-center text-dark mt-3 ">
                    Forget it, <a href="@Url.Action("Login","Account")">send me back</a> to the sign in.
                </div>
            </div>
        </div>
    </div>
</div>

}

