@*@model IEnumerable<ProjectAssigned.Models.Transection>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectAdminPannelLayout.cshtml";
}


<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header">
            <h4 class="page-title">Data</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Data</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>

        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        @*<div>
                                <h4 style="color:#ec296b">Total Income:@ViewBag.totalIncome&nbsp;pkr</h4>
                                <h4 style="color:#ec296b">Total Spent:@ViewBag.totalSpent&nbsp;pkr</h4>
                                <h4 style="color:#ec296b">Total Spent:@ViewBag.Remaining&nbsp;pkr</h4>


                            </div>*@


                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="transectionTable" class="hover table-bordered border-top-0 border-bottom-0">
                                <thead>
                                    <tr>
                                        <th>
                                            TransecId
                                        </th>
                                        <th>
                                            CashType
                                        </th>
                                        <th>
                                            IncomeCollectFrom
                                        </th>
                                        <th>
                                            IncomeSpentTo
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Discription
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>


                                    </tr>
                                </tfoot>
                                @*<tbody>
                                       @foreach (var item in Model)
                                       {
                                       <tr>
                                           <td>
                                               @Html.DisplayFor(mitem => item.CashType)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.Date)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.Amount)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.IncomeCollectFrom)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.IncomeSpentTo)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.Discription)
                                           </td>



                                           <td>  <a class="btn btn-primary btn-sm" href="@Url.Action("EditTransection", "Transection",new {id=item.TransecId})"><i class="fa fa-pencil fa-lg"></i></a></td>
                                    </tr>

                                       }*@


                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Mysection{

    <script>
        $(document).ready(function () {

            $("#transectionTable").DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "type": "Get",
                        "url": "/Transection/Index",
                        "dataType": "json"
                        /*"dataSrc": $.parseJSON(data.data)*/

                    },

                    "columns": [
                        { "data": "CashType", "name": "CashType" },
                        { "data": "Date", "name": "Date" },
                        { "data": "Amount", "name": "Amount" },
                        { "data": "IncomeCollectFrom", "name": "IncomeCollectFrom" },
                        { "data": "IncomeSpentTo", "name": "IncomeSpentTo" },
                        { "data": "Discription", "name": "Discription" }
                    ]


                    //        //"serverSide": "true",
                    //        //"order": [0,"asc"]
                    //    }
                });

        });

    </script>
    @*<*@@*script>

            $(document).ready(function () {
                Index();
            })

            var Index = function () {
                $.ajax({
                        type: "Get",
                        url: "/Transection/Index",
                        success: function (response) {
                            Binddatatable(response);

                        }
                    })

            }

            var Binddatatable = function (response) {

                $("#transectionTable").DataTable({

                    "aaData": response,
                    "aocolumns": [
                        { "mData": "TransecId" },
                        { "mData": " CashType" },
                        { "mData": " IncomeCollectFrom" },
                        { "mData": "IncomeSpentTo" },
                        { "mData": " Amount" },
                        { "mData": " Date" },
                        { "mData": "Discription" },
                    ]
                });

            }
        </script>*@


}

