@*@model IEnumerable<ProjectAssigned.Models.Transection>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectAdminPannelLayout.cshtml";
}


<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header">
            <h4 class="page-title">Data</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Data</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>

        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        @*<div>
                                <h4 style="color:#ec296b">Total Income:@ViewBag.totalIncome&nbsp;pkr</h4>
                                <h4 style="color:#ec296b">Total Spent:@ViewBag.totalSpent&nbsp;pkr</h4>
                                <h4 style="color:#ec296b">Total Spent:@ViewBag.Remaining&nbsp;pkr</h4>


                            </div>*@


                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="transectionTable" class="hover table-bordered border-top-0 border-bottom-0">
                                <thead>
                                    <tr>

                                        <th>
                                            CashType
                                        </th>
                                        <th>
                                            IncomeCollectFrom
                                        </th>
                                        <th>
                                            IncomeSpentTo
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Discription
                                        </th>
                                        <th>
                                            Edit
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>


                                    </tr>
                                </tfoot>
                                @*<tbody>
                                       @foreach (var item in Model)
                                       {
                                       <tr>
                                           <td>
                                               @Html.DisplayFor(mitem => item.CashType)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.Date)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.Amount)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.IncomeCollectFrom)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.IncomeSpentTo)
                                           </td>
                                           <td>
                                               @Html.DisplayFor(mitem => item.Discription)
                                           </td>



                                           <td>  <a class="btn btn-primary btn-sm" href="@Url.Action("EditTransection", "Transection",new {id=item.TransecId})"><i class="fa fa-pencil fa-lg"></i></a></td>
                                    </tr>

                                       }*@


                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel=" stylesheet" />
@section Mysection{
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script>


        $(document).ready(function () {

            $("#transectionTable").DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#ec296b;"></i><span class="sr-only">Loading...</span> '
                    },
                    "ajax": {
                        "type": "Get",
                        "url": "/Transection/GetList",
                        "dataType": "json"
                        /*"dataSrc": $.parseJSON(data.data)*/

                    },

                    "columns": [
                        { "data": "CashType", "name": "CashType" },
                        { "data": "IncomeCollectFrom", "name": "IncomeCollectFrom" },
                        { "data": "IncomeSpentTo", "name": "IncomeSpentTo" },
                        { "data": "Amount", "name": "Amount" },
                        { "data": "Date", "name": "Date" },
                        { "data": "Discription", "name": "Discription" },
                        {
                            "data": "TransecId",
                            "render": function (TransecId, type, full) {
                                debugger
                                //return '<a class="btn btn-primary btn-sm" href="/Transection/EditTransection? TransecId='
                                //    + full.TransecId + '"><i class="fa fa-pencil fa-lg"></i></a>'
                                return '<a class="btn btn-info" href="/Transection/EditTransection?TransecId=' + TransecId + '">Edit</a>'
                            }
                        }
                    ],
                    "order": [0, "asc"],
                    "dom": "Bfrtip",
                    "buttons":['copy','excel','csv','pdf']
                        




                        //        //"serverSide": "true",
                        //        //"order": [0,"asc"]
                        //  How can I add an edit button in last column of each row  }
                    });

        });

    </script>
    @*<*@@*script>

            $(document).ready(function () {
                Index();
            })

            var Index = function () {
                $.ajax({
                        type: "Get",
                        url: "/Transection/Index",
                        success: function (response) {
                            Binddatatable(response);

                        }
                    })

            }

            var Binddatatable = function (response) {

                $("#transectionTable").DataTable({

                    "aaData": response,
                    "aocolumns": [
                        { "mData": "TransecId" },
                        { "mData": " CashType" },
                        { "mData": " IncomeCollectFrom" },
                        { "mData": "IncomeSpentTo" },
                        { "mData": " Amount" },
                        { "mData": " Date" },
                        { "mData": "Discription" },
                    ]
                });

            }
        </script>*@


}

