@model ProjectAssigned.Models.CreateProject
@{
    ViewBag.Title = "Editproject";
    Layout = "~/Views/Shared/_ProjectAdminPannelLayout.cshtml";
}

<div class="app-content  my-3 my-md-5">

    <div class="side-app">
        <div class="page-header">
            <h4 class="page-title">Edit Profile</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
            </ol>

        </div>



        <div class="card">

            <div class="card-header">
                <h3 class="card-title"> Profile</h3>

            </div>

            <div class="card-body">
                @using (Html.BeginForm("Editproject", "AssignProject", FormMethod.Post , new
                {
                    enctype = "multipart/form-data"
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Project_Id)





                    <br />
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProjectType)
                                @Html.DropDownList("ProjectType", null, "--Select project type--", htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.ProjectType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProjectTitle)
                                @Html.TextBoxFor(m => m.ProjectTitle, new { @class = "form-control", placeholder = "Project Title", required = "required" })
                                @Html.ValidationMessageFor(m => m.ProjectTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Budget)
                                @Html.TextBoxFor(m => m.Budget, new { @class = "form-control", placeholder = "budget", required = "required" })
                                @Html.ValidationMessageFor(m => m.Budget, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.AwardDate)
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div><input class="form-control fc-datepicker" value="@Model.AwardDate" type="text">
                                </div>
                                @Html.ValidationMessageFor(m => m.AwardDate, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Startdate)
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div><input class="form-control fc-datepicker" value="@Model.AwardDate" type="text">
                                </div>
                                @Html.ValidationMessageFor(m => m.Startdate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Enddate)
                                 <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div><input class="form-control fc-datepicker" value="@Model.AwardDate" type="text">
                                </div>
                                        @Html.ValidationMessageFor(m => m.Enddate, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>



                       

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ActualCompletedate)
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div><input class="form-control fc-datepicker" value="@Model.AwardDate" type="text">
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Developer_Id, "Assign")
                                @Html.DropDownList("Developer_Id", null, "--Select Developer--", htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Developer_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status)
                                @Html.DropDownList("Status", null, "--Status--", htmlAttributes: new { @class = "form-control", @required = "required", @placeholder = "Select developer" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Statusfeedback)
                                @Html.TextBoxFor(m => m.Statusfeedback, new { @class = "form-control", placeholder = "Statusfeedback", required = "required" })
                                @Html.ValidationMessageFor(m => m.Statusfeedback, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Fileuploads)
                                <div class="custom-file">
                                    <input type="file" id="Fileuploads" name="Fileuploads" class="custom-file-input"  value="@Model.Fileuploads">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                                @Html.ValidationMessageFor(m => m.Fileuploads, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-6 col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Discription)
                                @Html.TextAreaFor(m => m.Discription, new { @class = "form-control", placeholder = "Enter About your description", required = "required", rows = "5" })
                                @Html.ValidationMessageFor(m => m.Discription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary" id="Onsuccess">Save</button>
                    </div>

                }
            </div>


        </div>

    </div>
</div>
