@model IEnumerable<ProjectAssigned.Models.CreateProject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectAdminPannelLayout.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header">
            <h4 class="page-title">Data</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Data</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>

        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Project Data</div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="hover table-bordered border-top-0 border-bottom-0">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.ProjectType)</th>
                                        <th>@Html.DisplayNameFor(m => m.ProjectTitle)</th>
                                        <th>@Html.DisplayNameFor(m => m.Budget)</th>
                                        <th>Assign</th>
                                        <th>@Html.DisplayNameFor(m => m.Status)</th>
                                        <th>@Html.DisplayNameFor(m => m.Startdate)</th>
                                        <th>@Html.DisplayNameFor(m => m.Enddate)</th>
                                        <th> Edit</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(mitem => item.ProjectType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(mitem => item.ProjectTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(mitem => item.Budget)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(mitem => item.CreateDeveloper.Firstname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(mitem => item.Status)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(mitem => item.Startdate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(mitem => item.Enddate)
                                            </td>

                                            <td>  <a class="btn btn-primary btn-sm" href="@Url.Action("Editproject","AssignProject",new {id=item.Project_Id })"><i class="fa fa-pencil fa-lg"></i></a></td>
                                        </tr>
                                    }
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




