
@{
    ViewBag.Title = "DetailList";
    Layout = "~/Views/Shared/_ProjectAdminPannelLayout.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header">
            <h4 class="page-title">Data</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Data</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>

        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Data</div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="hover table-bordered border-top-0 border-bottom-0">
                                <thead>
                                    <tr>
                                        <th>Project Title</th>
                                        <th>Start Time </th>
                                        <th>End Time</th>
                                        <th>developer Comment</th>
                                        <th>Project Detail</th>
                                        


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>$320,800</td>
                                        <td> <a href="@Url.Action("Detail","ProjectDetail")" class="btn btn-link fa fa-eye">View</a></td>
                                        
                                    </tr>
                                    <tr>
                                        <
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>$320,800</td>
                                        <td> <a href="@Url.Action("Detail","ProjectDetail")" class="btn btn-link fa fa-eye">View</a></td>
                                    </tr>

                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>$320,800</td>
                                        <td> <a href="@Url.Action("Detail","ProjectDetail")" class="btn btn-link fa fa-eye">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>$320,800</td>
                                        <td> <a href="@Url.Action("Detail","ProjectDetail")" class="btn btn-link fa fa-eye">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>$320,800</td>
                                        <td> <a href="@Url.Action("Detail","ProjectDetail")" class="btn btn-link fa fa-eye">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>$320,800</td>
                                        <td> <a href="@Url.Action("Detail","ProjectDetail")" class="btn btn-link fa fa-eye">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>$320,800</td>
                                        <td> <a href="@Url.Action("Detail","ProjectDetail")" class="btn btn-link fa fa-eye">View</a></td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>$320,800</td>
                                        <td> <a href="@Url.Action("Detail","ProjectDetail")" class="btn btn-link fa fa-eye">View</a></td>
                                    </tr>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Mysection{

    <!-- Data table css -->
    <link href="~/Content/assets/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Data tables -->
    <script src="~/Content/assets/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/js/datatable.js"></script>

}


