@model IEnumerable<ProjectAssigned.Models.AspNetUser>



@{
    ViewBag.Title = "DeveloperList";
    Layout = "~/Views/Shared/_ProjectAdminPannelLayout.cshtml";
}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="page-header">
            <h4 class="page-title">Data</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Data</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>

        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Data</div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="hover table-bordered border-top-0 border-bottom-0">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.FirstName)</th>
                                        <th>@Html.DisplayNameFor(m => m.LastName)</th>
                                        <th>@Html.DisplayNameFor(m => m.Designation)</th>
                                        <th>@Html.DisplayNameFor(m => m.Salary)</th>
                                        <th>@Html.DisplayNameFor(m => m.Address)</th>
                                        <th>@Html.DisplayNameFor(m => m.JoinDate)</th>
                                        <th>@Html.DisplayNameFor(m => m.Photo)</th>
                                        <th> Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  @foreach(var item in Model)
                                   { 
                                    <tr>


                                        <td>
                                            @Html.DisplayFor(m => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Designation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Salary)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.JoinDate)
                                        </td>
                                        <td>
                                            <img src="~/Content/Filesdata/Images/@item.Photo" alt="profile-img" class="avatar avatar-md brround">
                                        </td>




                                        <td>  <a class="btn btn-primary btn-sm" href="@Url.Action("EditDeveloper","CreateDeveloper",new {id=item.Id})"><i class="fa fa-pencil fa-lg"></i></a></td>
                                    </tr>
                                   }
                                    

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



