@model ProjectAssigned.Models.AspNetUser
@{
    ViewBag.Title = "EditDeveloper";
    Layout = "~/Views/Shared/_ProjectAdminPannelLayout.cshtml";
}

<div class="app-content  my-3 my-md-5">

    <div class="side-app">
        <div class="page-header">
            <h4 class="page-title">Edit Profile</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
            </ol>

        </div>



        <div class="card">

            <div class="card-header">
                <h3 class="card-title"> Profile</h3>

            </div>

            <div class="card-body">
                @using (Html.BeginForm("EditDeveloper", "CreateDeveloper", FormMethod.Post, new
                {
                    enctype = "multipart/form-data"
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Id)
                    @*@Html.Hidden("prevemail", Model.Email)
            @Html.Hidden("prevpass", Model.UserPassword)
            @Html.Hidden("prevname", Model.Username)
            @Html.Hidden("prephone",Model.Phone)*@



                   
                <div class="row">

                    @Html.LabelFor(model => model.Photo, "Picture")
                    @Html.TextBoxFor(model => model.Picture, new { @class = "dropify", @data_height = "200", @type = "file",  @data_default_file = "/Assets/images/ProfilePicture/" + Model.Photo })
                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                   
                </div>

            <br />
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", required = "required" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name", required = "required" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Designation)
                        @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", placeholder = "Designation", required = "required" })
                        @Html.ValidationMessageFor(m => m.Designation, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Salary)
                        @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", placeholder = "Salary", required = "required" })
                        @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address)
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address", required = "required" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.JoinDate)
                        @Html.TextBoxFor(m => m.JoinDate, new { @class = "form-control fc-datepicker", placeholder = "MM/DD/YYYY", @Value = @Model.JoinDate.ToShortDateString(), required = "required" })
                        @Html.ValidationMessageFor(m => m.JoinDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Experience)
                        @Html.TextBoxFor(m => m.Experience, new { @class = "form-control", placeholder = "Experience", required = "required" })
                        @Html.ValidationMessageFor(m => m.Experience, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @data_val = "false", placeholder = "Email", type = "email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CV)
                        <div class="custom-file">

                            <input type="file" name="cvdata" id="cvdata" class="custom-file-input" value="@Model.CV" @*Va data-default-file="@Url.Content("~/Content/Filesdata/Cv/"+ Model.Cv)"*@ />
                            <label class="custom-file-label">Choose file</label>


                            @*<div class="text-danger">
                        @ViewBag.mess
                    </div>

                    <div class="text-danger">
                        @ViewBag.Mess
                    </div>*@
                        </div>

                        @Html.ValidationMessageFor(m => m.CV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PasswordHash)
                        @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control", @placeholder = "User", @Value = Model.PasswordHash,@readonly="readonly" })
                        @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Bio)
                        @Html.TextAreaFor(m => m.Bio, new { @class = "form-control", placeholder = "Enter About your description", required = "required", rows = "5" })
                        @Html.ValidationMessageFor(m => m.Bio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>}
            </div>

        </div>
    </div>

</div>
